<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnSQL" value="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True;" />
    <add key="ConnORA" value="Data Source=XE;User Id=northwind;Password=northwind;" />
    <add key="MapSQL" value=".\bin\IQNorthwind\MapSQL.xml" />
    <add key="MapORA" value=".\bin\IQNorthwind\MapORA.xml" />
    <add key="ProviderSQL" value="IQToolkit.Data.SqlClient" />
    <add key="ProviderORA" value="IQToolkit.Data.OracleClient" />
    <add key="logprovider" value=".\Log" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
  <add name="NORTHWINDEntities" connectionString="metadata=res://*/Northwind.NWModel.csdl|res://*/Northwind.NWModel.ssdl|res://*/Northwind.NWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NORTHWIND;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>